<%- include ("./partials/header") %>

<h1>LOGIN</h1>

<form action="/login" method="POST">
	<input type="text" name="usermame" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button>LogIn</button>
</form>

<%- include ("./partials/footer") %>